@model dynamic
<div class="auth-card">
    <div class="auth-card-header">
        <div class="logo-circle">
            <img src="~/images/Logo_Transparent.PNG" alt="Logo Mark" />
        </div>
        <h1>@ViewData["CardTitle"]</h1>
        <p>@ViewData["CardSubtitle"]</p>
    </div>

    @RenderBody()
</div>
